@model WebApplication1.Models.GameViewModel
@{
    ViewBag.Title = "Play Blessed vs. Cursed";
}
<h2>@ViewBag.Title</h2>

<style>
    #selectRole { margin-bottom: 10px; }
    #sendMessage { margin-bottom: 10px; }
    #sendMessage #message { width: 400px; }
    #gameLog { border: 1px solid black; overflow:scroll; height: 500px; margin-bottom: 10px; }
</style>

<div id="selectRole">
    <select>
        <option value="0">Player 1 - Blessed</option>
        <option value="1">Player 2 - Cursed</option>
    </select>
    <input type="button" id="setPlayer" value="Select Deck" />
    <input type="button" id="startNewGame" value="Start Game" />

    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="playerId" />
</div>
