@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Delver.no</h1>
    <p class="lead">Delver.no is a personal project to implement Duel Decks: Blessed vs. Cursed in a browser environment.</p>
    <p><a href="\Home\Game" class="btn btn-primary btn-lg">Start a game &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Blessed</h2>
        <p>
            Angels and ETB trigger.
        </p>
        <p><a class="btn btn-default" href="#">Decklist &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Cursed</h2>
        <p>Zombies</p>
        <p><a class="btn btn-default" href="#">Decklist &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Implementation</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>