<div class="navbar">
    <div class="container">
        <ul class="navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Games", "Game", "Home")</li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</div>